In [1]:
import pandas as pd
import sqlite3
import os

directory = os.path.join(os.path.dirname(os.getcwd()), "data")
csv_files = ["economy.csv", "education.csv", "population.csv"]

conn = sqlite3.connect(os.path.join(os.path.dirname(os.getcwd()), "data", "indicators.db"))
cursor = conn.cursor()

for i, file in enumerate(csv_files, start=1):
    file_path = os.path.join(directory, file)
    table_name = f"table{i}"
    df = pd.read_csv(file_path)
    print(df)
    df.to_sql(table_name, conn, if_exists="replace", index=False)

with open(os.path.join(os.path.dirname(os.getcwd()), "script", "extract_data.sql"), "r") as file:
    query = file.read()

result_df = pd.read_sql_query(query, conn)
output_file = os.path.join(os.path.dirname(os.getcwd()), "data", "clean_data.csv")
result_df.to_csv(output_file, index=False)
conn.close()

             value             series economy  aggregate    time  \
0      1383.233130     NY.GDP.PCAP.KD     ZWE      False  YR2023
1      1345.769083     NY.GDP.PCAP.KD     ZWE      False  YR2022
2      1289.199067     NY.GDP.PCAP.KD     ZWE      False  YR2021
3      1213.117057     NY.GDP.PCAP.KD     ZWE      False  YR2020
4      1342.989586     NY.GDP.PCAP.KD     ZWE      False  YR2019
...            ...                ...     ...        ...     ...
51067     4.668135  NY.GDP.MKTP.KD.ZG     AFE       True  YR1964
51068     5.616400  NY.GDP.MKTP.KD.ZG     AFE       True  YR1963
51069     7.868013  NY.GDP.MKTP.KD.ZG     AFE       True  YR1962
51070     0.460106  NY.GDP.MKTP.KD.ZG     AFE       True  YR1961
51071          NaN  NY.GDP.MKTP.KD.ZG     AFE       True  YR1960

               indicator
0         NY.GDP.PCAP.KD
1         NY.GDP.PCAP.KD
2         NY.GDP.PCAP.KD
3         NY.GDP.PCAP.KD
4         NY.GDP.PCAP.KD
...                  ...
51067  NY.GDP.MKTP.KD.ZG
51068  NY.GDP.MKTP.KD.ZG
51069  NY.GDP.MKTP.KD.ZG
51070  NY.GDP.MKTP.KD.ZG
51071  NY.GDP.MKTP.KD.ZG

[51072 rows x 6 columns]
           value       series economy  aggregate    time    indicator
0            NaN  SE.PRM.ENRR     ZWE      False  YR2023  SE.PRM.ENRR
1      95.789907  SE.PRM.ENRR     ZWE      False  YR2022  SE.PRM.ENRR
2      96.015148  SE.PRM.ENRR     ZWE      False  YR2021  SE.PRM.ENRR
3      97.384162  SE.PRM.ENRR     ZWE      False  YR2020  SE.PRM.ENRR
4      97.476614  SE.PRM.ENRR     ZWE      False  YR2019  SE.PRM.ENRR
...          ...          ...     ...        ...     ...          ...
51067        NaN  SE.TER.ENRR     AFE       True  YR1964  SE.TER.ENRR
51068        NaN  SE.TER.ENRR     AFE       True  YR1963  SE.TER.ENRR
51069        NaN  SE.TER.ENRR     AFE       True  YR1962  SE.TER.ENRR
51070        NaN  SE.TER.ENRR     AFE       True  YR1961  SE.TER.ENRR
51071        NaN  SE.TER.ENRR     AFE       True  YR1960  SE.TER.ENRR

[51072 rows x 6 columns]
            value          series economy  aggregate    time       indicator
0             NaN  SP.DYN.LE00.IN     ZWE      False  YR2023  SP.DYN.LE00.IN
1       59.391000  SP.DYN.LE00.IN     ZWE      False  YR2022  SP.DYN.LE00.IN
2       59.253000  SP.DYN.LE00.IN     ZWE      False  YR2021  SP.DYN.LE00.IN
3       61.124000  SP.DYN.LE00.IN     ZWE      False  YR2020  SP.DYN.LE00.IN
4       61.292000  SP.DYN.LE00.IN     ZWE      False  YR2019  SP.DYN.LE00.IN
...           ...             ...     ...        ...     ...             ...
51067  143.456933     SP.ADO.TFRT     AFE       True  YR1964     SP.ADO.TFRT
51068  142.324951     SP.ADO.TFRT     AFE       True  YR1963     SP.ADO.TFRT
51069  141.664168     SP.ADO.TFRT     AFE       True  YR1962     SP.ADO.TFRT
51070  140.810248     SP.ADO.TFRT     AFE       True  YR1961     SP.ADO.TFRT
51071  140.180526     SP.ADO.TFRT     AFE       True  YR1960     SP.ADO.TFRT

[51072 rows x 6 columns]